{% extends 'base.html' %}

{%block content %}

<div class="d-flex justify-content-center gap-3 mt-5 mb-5">
{% for categor in category  %}
    <a href="{%url 'dish_to_category' categor.pk %}" type="button" class="btn btn-primary" data-mdb-ripple-init>{{categor.name}}</a>
    {%endfor %}
</div>



<div class="row row-cols-1 row-cols-md-3 g-5 me-5">
            {% for dis in dish %}
                <div class="col">
                    <div class="card h-100">
                        <a href="{%url 'dish_detaling' dis.pk%}">
                            {% if dis.photo %}
                                <img src="{{ dis.photo.url }}" class="card-img-top" alt="{{ dis.photo.name }}" />
                            {% else %}
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road" />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <a href="{%url 'dish_detaling' dis.pk%}">
                                <h4 class="card-title">{{ dis.name }}</h4>
                            </a>
                            <p class="card-text">
                                {{ dis.about|truncatewords:19 }}
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted">{{ dis.name }}</small>
                            <a href="">
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">{{ dis.category.name }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

{% endblock content %}
